<!-- .Side panel -->
<div class=" side-mini-panel"   >
    <ul class="mini-nav">
        <div class="togglediv"><a href="javascript:void(0)" id="togglebtn"><i class="ti-menu"></i></a></div>




        {% if app_list %}

        {% for app_name,app in app_list.items  %}


        <li  > <a href="javascript:void(0)"><i class="{{app.icon}}" data-icon="v"></i></a>
            <div class="sidebarmenu">
                <!-- Left navbar-header -->
                <h3 class="menu-title">{{app.name}}</h3>
                <div class="searchable-menu">
                    <form role="search" class="menu-search">
                        <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a> </form>
                </div>
                <ul class="sidebar-menu">

                    {% if app.sub %}
                    {% for model_name, model in app.sub.items %}


                    <li><a href=" {{ model.admin_url}}"> {{ model.name }}</a></li>
                    <li><a href=" {{ model.add_url}}"> add {{ model.name }}</a></li>

                    {% endfor %}

                    {% endif %}



                    <hr>
                    <!-- <h3 class="menu-title">{ { trans('general.'.$aModule['originTitle'].'MenuBottomHeader')}}</h3> -->
                    <!-- <li><a href="../eliteadmin-inverse/index.html" target="_blank">{ { trans('general.'.$aModule['originTitle'].'MenuBottomDescription')}}</a></li> -->
                </ul>
                <!-- Left navbar-header end -->
            </div>
        </li>



        {% endfor %}
        {% else %}
        <p>  "You don't have permission to edit anything."  </p>
        {% endif %}
    </ul>
</div>
<!-- /.Side panel -->















