




{% load i18n %}



{% if show %}
<div class="{{date_hierarchy_container_class}}">
    <div class="white-box">
        <div class="row">
            <div class=" col-xs-12">
                <h3 class="box-title m-b-0">{% blocktrans with filter_title=title %}Date filter {% endblocktrans %}</h3>
                <p class="text-muted font-13 m-b-30"> Select the <code>Date</code> to filter data </p>


                {% if back %}

                <a href="{{ back.link }}" title="{{ choice.display }}"
                   class="   checkbox-circle checkbox-inverse  ">
                    <i class="fa fa-check-circle"></i>
                    <label  >  &lsaquo;  {{ back.title }}</label>
                </a>
                {% endif %}





                {% for choice in choices %}




                <a href="{{ choice.link }}" title="{{ choice.title }}"
                   class="   checkbox-circle checkbox-inverse    text-success  ">
                    <i class="fa fa-check-circle"></i>
                    <label > {{ choice.title }}</label>
                </a>
                {% endfor %}



            </div>
        </div>
    </div>
</div>



{% endif %}


